@import "tailwindcss";


@font-face {
  font-family: "Signika";
  src: url("/fonts/Signika_Negative/static/SignikaNegative-Bold.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "Signika";

}

::selection {
  background-color: #ffd54f;
}

::-moz-selection {
  background-color: #ffd54f;
  color: #1a1a1a;
}

/*  */

