@import "tailwindcss";

@font-face {
  font-family: "Morabba";
  src: url("/fonts/Morabba/ttf/Morabba-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Anjoman";
  src: url("/fonts/Anjoman/Anjoman-Medium/fonts/Anjoman-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}
:root {
  --base-bg: linear-gradient(180deg, #ffffff, #f7f9ff 55%, #ffffff);
}
body {
  font-family: "Anjoman";
  background-color: #fff;

  /* dots */
  --dot: rgba(0, 0, 0, 0.18);
  --gap: 26px; /* distance between dots */
  --size: 2px; /* dot radius-ish */

  background-image: radial-gradient(
    circle,
    var(--dot) var(--size),
    transparent var(--size)
  );
  background-size: var(--gap) var(--gap);
}

.MorabaFont {
  font-family: "Morabba";
}
::selection {
  background-color: #ffd54f;
}

::-moz-selection {
  background-color: #ffd54f;
  color: #1a1a1a;
}

/*  */

