@import "tailwindcss";


@font-face {
  font-family: "Morabba";
  src: url("/fonts/Morabba/ttf/Morabba-Black.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "Morabba";

}

::selection {
  background-color: #ffd54f;
}

::-moz-selection {
  background-color: #ffd54f;
  color: #1a1a1a;
}

/*  */

